################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MovieRental
/MovieRental/bin/Debug/net8.0
/MovieRental/obj
/MovieRental.WPF/bin/Debug/net9.0-windows
/MovieRental.WPF/obj
